<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% displayed.forEach(user => { %>
     <h1><%= user.name%></h1>
     <a href="/article/delete/<%= user.id %>">delete</a>
     <a href="/article/<%= user.id %>/edit">Edit</a> 
   <% }) %>
</body>
</html>